/build/
/dist/
build/classes/controlador/Conexion.class
build/built-jar.properties
build/classes/META-INF/persistence.xml
build/classes/view/DlgCrearProducto$1.class
build/classes/view/DlgCrearProducto$2.class
build/classes/view/DlgCrearProducto$3.class
build/classes/view/DlgCrearProducto$4$1.class
build/classes/view/DlgCrearProducto$4.class
build/classes/view/DlgEgresos$1$1.class
build/classes/view/DlgEgresos$1.class
build/classes/view/DlgIngresos$1$1.class
build/classes/view/DlgIngresos$1.class
build/classes/view/DlgProducto$1.class
build/classes/view/DlgProducto$2$1.class
build/classes/view/DlgProducto$2.class
build/classes/vista/DlgProducto.form
build/classes/vista/FrmPrincipal.form
nbproject/private/private.xml
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/dao/ProductoDao.java
src/controlador/servicio/FacturaServicio.java
src/controlador/servicio/LoteServicio.java
src/controlador/servicio/PersonaServicio.java
src/controlador/servicio/ProductoServicio.java
src/controlador/utilidades/Utilidades.java
src/META-INF/persistence.xml
src/modelo/Laboratorio.java
src/modelo/Lote.java
src/modelo/Presentacion.java
src/modelo/Producto.java
src/vista/DlgPresentacion.java
src/vista/DlgProducto.form
src/vista/DlgProducto.java
src/vista/FrmCompras.form
src/vista/FrmCompras.java
src/vista/FrmFactura.java
src/vista/FrmPrincipal.form
src/vista/FrmPrincipal.java
src/vista/FrmProducto.form
src/vista/FrmProducto.java
src/vista/tablas/ModeloVistaCompra.java
src/vista/tablas/ModeloVistaLCompra.java
build/built-jar.properties
build/classes/META-INF/persistence.xml
build/classes/view/DlgCrearProducto$1.class
build/classes/view/DlgCrearProducto$2.class
build/classes/view/DlgCrearProducto$3.class
build/classes/view/DlgCrearProducto$4$1.class
build/classes/view/DlgCrearProducto$4.class
build/classes/view/DlgEgresos$1$1.class
build/classes/view/DlgEgresos$1.class
build/classes/view/DlgIngresos$1$1.class
build/classes/view/DlgIngresos$1.class
build/classes/view/DlgProducto$1.class
build/classes/view/DlgProducto$2$1.class
build/classes/view/DlgProducto$2.class
build/classes/vista/DlgCrearProducto.form
build/classes/vista/DlgProducto.form
build/classes/vista/FrmPrincipal.form
nbproject/private/private.xml
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/dao/ProductoDao.java
src/controlador/servicio/CuentaServicio.java
src/controlador/servicio/PersonaServicio.java
src/controlador/utilidades/Utilidades.java
src/META-INF/persistence.xml
src/modelo/Laboratorio.java
src/modelo/Lote.java
src/modelo/Presentacion.java
src/modelo/Producto.java
src/vista/DlgListadoProducto.form
src/vista/DlgListadoProducto.java
src/vista/DlgPresentacion.java
src/vista/DlgProducto.form
src/vista/DlgProducto.java
src/vista/FrmCompras.form
src/vista/FrmCompras.java
src/vista/FrmFactura.java
src/vista/FrmPrincipal.form
src/vista/FrmPrincipal.java
src/vista/FrmProducto.form
src/vista/FrmProducto.java
src/vista/tablas/ModeloVistaCompra.java
src/vista/tablas/ModeloVistaLCompra.java
build/built-jar.properties
build/classes/META-INF/persistence.xml
build/classes/view/DlgCrearProducto$1.class
build/classes/view/DlgCrearProducto$2.class
build/classes/view/DlgCrearProducto$3.class
build/classes/view/DlgCrearProducto$4$1.class
build/classes/view/DlgCrearProducto$4.class
build/classes/view/DlgEgresos$1$1.class
build/classes/view/DlgEgresos$1.class
build/classes/view/DlgIngresos$1$1.class
build/classes/view/DlgIngresos$1.class
build/classes/view/DlgProducto$1.class
build/classes/view/DlgProducto$2$1.class
build/classes/view/DlgProducto$2.class
build/classes/vista/DlgCrearProducto.form
build/classes/vista/DlgEgresos.form
build/classes/vista/DlgIngresos.form
build/classes/vista/DlgProducto.form
build/classes/vista/FrmPrincipal.form
nbproject/private/private.xml
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/dao/ProductoDao.java
src/controlador/servicio/CuentaServicio.java
src/controlador/servicio/PersonaServicio.java
src/controlador/utilidades/Utilidades.java
src/META-INF/persistence.xml
src/modelo/Laboratorio.java
src/modelo/Lote.java
src/modelo/Presentacion.java
src/modelo/Producto.java
src/vista/DlgEgresos.form
src/vista/DlgEgresos.java
src/vista/DlgIngresos.form
src/vista/DlgIngresos.java
src/vista/DlgListaCompras.form
src/vista/DlgListaCompras.java
src/vista/DlgListadoProducto.form
src/vista/DlgListadoProducto.java
src/vista/DlgPresentacion.java
src/vista/DlgProducto.form
src/vista/DlgProducto.java
src/vista/FrmCompras.form
src/vista/FrmCompras.java
src/vista/FrmFactura.java
src/vista/FrmPrincipal.form
src/vista/FrmPrincipal.java
src/vista/FrmProducto.form
src/vista/FrmProducto.java
src/vista/tablas/ModeloVistaCompra.java
src/vista/tablas/ModeloVistaLCompra.java
build/built-jar.properties
build/classes/META-INF/persistence.xml
build/classes/view/DlgCrearProducto$1.class
build/classes/view/DlgCrearProducto$2.class
build/classes/view/DlgCrearProducto$3.class
build/classes/view/DlgCrearProducto$4$1.class
build/classes/view/DlgCrearProducto$4.class
build/classes/view/DlgEgresos$1$1.class
build/classes/view/DlgEgresos$1.class
build/classes/view/DlgIngresos$1$1.class
build/classes/view/DlgIngresos$1.class
build/classes/view/DlgProducto$1.class
build/classes/view/DlgProducto$2$1.class
build/classes/view/DlgProducto$2.class
build/classes/vista/DlgCrearProducto.form
build/classes/vista/DlgEgresos.form
build/classes/vista/DlgIngresos.form
build/classes/vista/DlgProducto.form
build/classes/vista/FrmPrincipal.form
nbproject/private/private.xml
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/dao/ProductoDao.java
src/controlador/servicio/CuentaServicio.java
src/controlador/servicio/PersonaServicio.java
src/controlador/utilidades/Utilidades.java
src/META-INF/persistence.xml
src/modelo/Laboratorio.java
src/modelo/Lote.java
src/modelo/Presentacion.java
src/modelo/Producto.java
src/vista/DlgEgresos.form
src/vista/DlgEgresos.java
src/vista/DlgIngresos.form
src/vista/DlgIngresos.java
src/vista/DlgListaCompras.form
src/vista/DlgListaCompras.java
src/vista/DlgListadoProducto.form
src/vista/DlgListadoProducto.java
src/vista/DlgPresentacion.java
src/vista/DlgProducto.form
src/vista/DlgProducto.java
src/vista/FrmCompras.form
src/vista/FrmCompras.java
src/vista/FrmFactura.java
src/vista/FrmPrincipal.form
src/vista/FrmPrincipal.java
src/vista/FrmProducto.form
src/vista/FrmProducto.java
src/vista/tablas/ModeloVistaCompra.java
src/vista/tablas/ModeloVistaLCompra.java
build/built-jar.properties
build/classes/META-INF/persistence.xml
build/classes/view/DlgCrearProducto$1.class
build/classes/view/DlgCrearProducto$2.class
build/classes/view/DlgCrearProducto$3.class
build/classes/view/DlgCrearProducto$4$1.class
build/classes/view/DlgCrearProducto$4.class
build/classes/view/DlgEgresos$1$1.class
build/classes/view/DlgEgresos$1.class
build/classes/view/DlgIngresos$1$1.class
build/classes/view/DlgIngresos$1.class
build/classes/view/DlgProducto$1.class
build/classes/view/DlgProducto$2$1.class
build/classes/view/DlgProducto$2.class
build/classes/vista/DlgCrearProducto.form
build/classes/vista/DlgEgresos.form
build/classes/vista/DlgIngresos.form
build/classes/vista/DlgProducto.form
build/classes/vista/FrmPrincipal.form
nbproject/private/private.xml
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/dao/ProductoDao.java
src/controlador/servicio/CuentaServicio.java
src/controlador/servicio/PersonaServicio.java
src/controlador/utilidades/Utilidades.java
src/META-INF/persistence.xml
src/modelo/Laboratorio.java
src/modelo/Lote.java
src/modelo/Presentacion.java
src/modelo/Producto.java
src/vista/DlgCliente.java
src/vista/DlgCuenta.form
src/vista/DlgCuenta.java
src/vista/DlgEgresos.form
src/vista/DlgEgresos.java
src/vista/DlgIngresos.form
src/vista/DlgIngresos.java
src/vista/DlgListaCompras.form
src/vista/DlgListaCompras.java
src/vista/DlgListadoProducto.form
src/vista/DlgListadoProducto.java
src/vista/DlgPresentacion.java
src/vista/DlgProducto.form
src/vista/DlgProducto.java
src/vista/FrmCompras.form
src/vista/FrmCompras.java
src/vista/FrmFactura.java
src/vista/FrmListadoClientes.form
src/vista/FrmListadoClientes.java
src/vista/FrmListadoCuenta.form
src/vista/FrmListadoCuenta.java
src/vista/FrmListadoProveedores.form
src/vista/FrmListadoProveedores.java
src/vista/FrmPrincipal.form
src/vista/FrmPrincipal.java
src/vista/FrmProducto.form
src/vista/FrmProducto.java
src/vista/tablas/ModeloVistaCompra.java
src/vista/tablas/ModeloVistaLCompra.java
build/built-jar.properties
build/classes/META-INF/persistence.xml
build/classes/view/DlgCrearProducto$1.class
build/classes/view/DlgCrearProducto$2.class
build/classes/view/DlgCrearProducto$3.class
build/classes/view/DlgCrearProducto$4$1.class
build/classes/view/DlgCrearProducto$4.class
build/classes/view/DlgEgresos$1$1.class
build/classes/view/DlgEgresos$1.class
build/classes/view/DlgIngresos$1$1.class
build/classes/view/DlgIngresos$1.class
build/classes/view/DlgProducto$1.class
build/classes/view/DlgProducto$2$1.class
build/classes/view/DlgProducto$2.class
build/classes/vista/DlgCrearProducto.form
build/classes/vista/DlgEgresos.form
build/classes/vista/DlgIngresos.form
build/classes/vista/DlgProducto.form
build/classes/vista/FrmPrincipal.form
nbproject/private/private.xml
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/dao/ProductoDao.java
src/controlador/servicio/CuentaServicio.java
src/controlador/servicio/PersonaServicio.java
src/controlador/utilidades/Utilidades.java
src/META-INF/persistence.xml
src/modelo/Laboratorio.java
src/modelo/Lote.java
src/modelo/Presentacion.java
src/modelo/Producto.java
src/vista/DlgCliente.java
src/vista/DlgCuenta.form
src/vista/DlgCuenta.java
src/vista/DlgEgresos.form
src/vista/DlgEgresos.java
src/vista/DlgIngresos.form
src/vista/DlgIngresos.java
src/vista/DlgListaCompras.form
src/vista/DlgListaCompras.java
src/vista/DlgListadoProducto.form
src/vista/DlgListadoProducto.java
src/vista/DlgPresentacion.java
src/vista/DlgProducto.form
src/vista/DlgProducto.java
src/vista/FrmCompras.form
src/vista/FrmCompras.java
src/vista/FrmFactura.java
src/vista/FrmListadoClientes.form
src/vista/FrmListadoClientes.java
src/vista/FrmListadoCuenta.form
src/vista/FrmListadoCuenta.java
src/vista/FrmListadoProveedores.form
src/vista/FrmListadoProveedores.java
src/vista/FrmPrincipal.form
src/vista/FrmPrincipal.java
src/vista/FrmProducto.form
src/vista/FrmProducto.java
src/vista/tablas/ModeloVistaCompra.java
src/vista/tablas/ModeloVistaLCompra.java
build/built-jar.properties
build/classes/META-INF/persistence.xml
build/classes/view/DlgCrearProducto$1.class
build/classes/view/DlgCrearProducto$2.class
build/classes/view/DlgCrearProducto$3.class
build/classes/view/DlgCrearProducto$4$1.class
build/classes/view/DlgCrearProducto$4.class
build/classes/view/DlgEgresos$1$1.class
build/classes/view/DlgEgresos$1.class
build/classes/view/DlgIngresos$1$1.class
build/classes/view/DlgIngresos$1.class
build/classes/view/DlgProducto$1.class
build/classes/view/DlgProducto$2$1.class
build/classes/view/DlgProducto$2.class
build/classes/vista/DlgCrearProducto.form
build/classes/vista/DlgEgresos.form
build/classes/vista/DlgIngresos.form
build/classes/vista/DlgProducto.form
build/classes/vista/FrmPrincipal.form
nbproject/private/private.xml
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/dao/ProductoDao.java
src/controlador/servicio/CuentaServicio.java
src/controlador/servicio/PersonaServicio.java
src/controlador/utilidades/Utilidades.java
src/META-INF/persistence.xml
src/modelo/Laboratorio.java
src/modelo/Lote.java
src/modelo/Presentacion.java
src/modelo/Producto.java
src/vista/DlgCliente.java
src/vista/DlgCuenta.form
src/vista/DlgCuenta.java
src/vista/DlgEgresos.form
src/vista/DlgEgresos.java
src/vista/DlgIngresos.form
src/vista/DlgIngresos.java
src/vista/DlgListaCompras.form
src/vista/DlgListaCompras.java
src/vista/DlgListadoProducto.form
src/vista/DlgListadoProducto.java
src/vista/DlgPresentacion.java
src/vista/DlgProducto.form
src/vista/DlgProducto.java
src/vista/FrmCompras.form
src/vista/FrmCompras.java
src/vista/FrmFactura.java
src/vista/FrmListadoClientes.form
src/vista/FrmListadoClientes.java
src/vista/FrmListadoCuenta.form
src/vista/FrmListadoCuenta.java
src/vista/FrmListadoProveedores.form
src/vista/FrmListadoProveedores.java
src/vista/FrmPrincipal.form
src/vista/FrmPrincipal.java
src/vista/FrmProducto.form
src/vista/FrmProducto.java
src/vista/tablas/ModeloVistaCompra.java
src/vista/tablas/ModeloVistaLCompra.java
build/built-jar.properties
nbproject/private/private.xml
src/controlador/Dao/CuentaDao.java
src/controlador/dao/DetalleDao.java
src/controlador/dao/FacturaDao.java
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/servicio/DetalleServicio.java
src/modelo/Detalle.java
src/modelo/Factura.java
src/modelo/Lote.java
src/vista/DlgListaProductos.java
src/vista/FrmDetalle.java
src/vista/FrmFactura.form
src/vista/FrmFactura.java
src/vista/tablas/ModeloVistaCliente.java
src/vista/tablas/ModeloVistaDetalle.java
src/vista/utilidades/UtilidadesComponente.java
build/built-jar.properties
nbproject/private/private.xml
src/controlador/Dao/CuentaDao.java
src/controlador/dao/DetalleDao.java
src/controlador/dao/FacturaDao.java
src/controlador/dao/LoteDao.java
src/controlador/Dao/PersonaDao.java
src/controlador/servicio/DetalleServicio.java
src/modelo/Detalle.java
src/modelo/Factura.java
src/modelo/Lote.java
src/vista/DlgListaProductos.java
src/vista/FrmDetalle.java
src/vista/FrmFactura.form
src/vista/FrmFactura.java
src/vista/tablas/ModeloVistaCliente.java
src/vista/tablas/ModeloVistaDetalle.java
src/vista/utilidades/UtilidadesComponente.java
